modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
"Gemini API Key" = "AQ.Ab8RN6JhgEv5bxTCoCbfnsMA2D8Sn32kIEFqPVKVWox68NzY_w"
RAZORPAY_KEY_ID = "rzp_test_Tdqn25lv4kwPcE"
RAZORPAY_KEY_SECRET = "TReVCBrYqVkIYyHTN8tRmnZV"
